<!-- ========== HEADER ========== -->
{% include 'html/link.html' %} {% block content %}





<header id="header" class="header header-bg-transparent header-abs-top py-3">
    <div class="header-section navbar-expand">
        <div id="logoAndNav" class="container px-3">
            <nav class="navbar">
                <a class="navbar-brand">
                </a>

                <button id="headerToggler" type="button" class="nav-bar-btn navbar-toggler btn btn-icon btn-sm btn-soft-secondary" onclick="openNav()">
                    <span class="navbar-toggler-default">
                        <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                            <path fill="currentColor"
                                d="M17.4,6.2H0.6C0.3,6.2,0,5.9,0,5.5V4.1c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,5.9,17.7,6.2,17.4,6.2z M17.4,14.1H0.6c-0.3,0-0.6-0.3-0.6-0.7V12c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,13.7,17.7,14.1,17.4,14.1z" />
                        </svg>
                    </span>
                    <span class="navbar-toggler-toggled">
                        <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                            <path fill="currentColor"
                                d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z" />
                        </svg>
                    </span>
                </button>
            </nav>
        </div>
    </div>
</header>


<aside id="mySidenav" class="wrapper align-items-stretch sidenav">
    <div class="sidebar ">
        <div class="sidebar-header">
            <div class="sidebar-footer-offset" style="padding-bottom: 11.5rem;">
                <div class="d-flex justify-content-between align-items-center border-bottom py-4 px-7">
                    <div class="logo">
                        <a class="nav-bar">
                            <img class="" src="/assets/img/hcc-logo-final-96x96.png" style="width: 50px; height: 50px;">
                        </a>
                    </div>

                    <div class="">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
                            &times;
                        </a>
                    </div>
                </div>

                <div class="scrollbar sidebar-body">
                    <div class="d-flex justify sidebar-content">
                        <figure class="w-100 mx-auto mb-3">
                            <div class="">
                                <div class="">
                                    <div class="row">
                                        <div id="" class="col-md-6">
                                            {% with request.resolver_match.url_name as url_name %}
                                            <ul id="navbar-toggler" class="">

                                                <style>
                                                    .active-2 {
                                                        text-decoration: underline;
                                                    }
                                                </style>

                                                <li class="u-has-submenu fullscreen-submenu {% if url_name == 'home' %}active-2{% endif %}">
                                                    <a class="nav-link" href="{% url 'home'%}">
                                                        Home
                                                    </a>
                                                </li>
                                                <li class="u-has-submenu fullscreen-submenu">
                                                    <a class="nav-link {% if url_name == 'services' %}active-2{% endif %}" href="{% url 'services'%}">
                                                        What we do
                                                    </a>
                                                </li>
                                                {% comment %}
                                                <li class="u-has-submenu fullscreen-submenu">
                                                    <a class="nav-link" href="{% url 'Gallery'%}" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="blogCollapse">
                                                        Gallery
                                                    </a>
                                                </li> {% endcomment %}


                                                <li class="u-has-submenu fullscreen-submenu">
                                                    <a class="nav-link {% if url_name == 'blogs' %}active-2{% endif %}" href="{% url 'blogs'%}">
                                                        Blogs
                                                    </a>
                                                </li>


                                                <li class="u-has-submenu fullscreen-submenu">
                                                    <a class="nav-link {% if url_name == 'scrapbook' %}active-2{% endif %}" href="{% url 'scrapbook'%}">
                                                        ScrapBook
                                                    </a>
                                                </li>

                                                <li class="u-has-submenu fullscreen-submenu">
                                                    <a class="nav-link {% if url_name == 'about' %}active-2{% endif %}" href="{% url 'carrier'%}">
                                                        Carrier
                                                    </a>
                                                </li>

                                                <li class="u-has-submenu fullscreen-submenu">
                                                    <a class="nav-link {% if url_name == 'contact' %}active-2{% endif %}" href="{% url 'contact' %}">
                                                        Contact Us
                                                    </a>
                                                </li>

                                            </ul>

                                            {% endwith %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </figure>
                    </div>
                </div>
            </div>


            <footer class="sidebar-footer border-top text-center py-4 px-7" style="height: 8vh;">
                <p class="small mb-0">
                    <a class="link-underline" href="javascript:;">Himani's CC All Rights Reserved</a>
                </p>
            </footer>
        </div>
    </div>
</aside>













<style>
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        transition: 0.5s;
    }
    
    .sidenav a {
        text-decoration: none;
        color: #818181;
        transition: 0.3s;
    }
    
    .sidenav a:hover {
        color: #f1f1f1;
    }
    
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    
    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }
        .sidenav a {
            font-size: 18px;
        }
    }
</style>



<script>
    function openNav() {
        document.getElementById("mySidenav").style.display = "block";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.display = "none";
    }
</script>



<script>
    $(document).ready(function() {

        $('#sidebarCollapse').on('click', function() {
            $('#sidebar').toggleClass('active');
        });

    });
    $(document).on('ready', function() {
        var unfold = new HSUnfold('.js-hs-unfold-invoker').init();
    });
</script>


{% endblock content %}